html {
    position: relative;
    min-height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 10vh;
    max-width: 100%;
    overflow-x: hidden;
}



a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}

.about {
    width: 100%;
    margin-top:0px;
}

.about-text{
    line-height: 1.6;
    font-size: 16pt;
    text-align: center;
}

.about-text-small{
    line-height: 1.6;
    font-size: 10pt;
    text-align: center;
}

.about-text-div{
    margin-left:35vw;
    width: 40vw;
    margin-top: -90vh;
    height: 10vh;
    
}

.anonymous{
    outline-color:#855513;
}

.back{
    height:23vh;
    width: auto;
    margin-left: 80vw;
    bottom: 80px;
    position: fixed;
}

.brew {
    outline-color:#855513;
}

.column {
    width:45vw;
}

.container {
    display:flex;
    width: 95%;
    justify-content: center; 
    margin-left:3vw;
}

#container {
    display:flex;
    width: 90%;
    justify-content: center;
}

.copyright {
    margin-right:80vw;
    margin-top:-4vh;
    line-height: 1.6;
    width:35vw;
    font-size: 8pt;
    
 }

.design {
    filter: none;
    opacity: 100;
    flex-grow: 1;
    transition: .3s;

    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}

.design:hover{
    filter: alpha (opacity=50);
    opacity: .5;
    transform: scale(1.02);
}



.grid{
    margin-top: 700px
}

.gridimages{
    flex-grow: 1;
    transition: .3s;
}

.gridimages:hover{
    transform: scale(1.02);
}

.hbo-motion {
    outline-color:#bd34eb;;
}

.holidays{
    outline-color:#75e0a2;
}

img {
    width: 96%;
    height: auto;
    outline: 1px solid #D3D3D3;
    flex-grow: 1;
    margin-top: 11px;
}



.lotus{
    outline-color:#4eb8c7;
}

.name {
    
    outline: 1px solid  #FFA438;
    filter: none;
    opacity: 100;
    flex-grow: 1;
    transition: .3s;

    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;
}


.name:hover{
    filter: alpha (opacity=50);
    opacity: .5;
    transform: scale(1.02);
}




p{
    font-family: 'Montserrat', sans-serif;       
}

.projecttitle {
    margin-left: 10vw;
    line-height:1.6;
    font-family: 'Montserrat', sans-serif;
    width: 35vw;
  
} 

.title {  
    margin-left:10vw;
    margin-top:10vh;
    padding-bottom:10px;
    font-family: 'Montserrat', sans-serif;   
}



.row {
    display:flex;
}

.scroll-full-screen {
    height:50%;
    width: 100vw;
    margin-top: 0;
    
}
.scroll-banner {
    height:50%;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.scroll-horizontal {
    height: auto;
    width: 80vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    
}

.scroll-square {
    height:auto;
    width: 50vw;
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    
}

.scroll-vertical {
    height:auto;
    width: 35vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    
}

.sidekick{
    outline-color:#fff291;
}

video{
    outline: 1px solid #D3D3D3;
}

.wig{
    outline-color: #bd34eb;
}