html {
    position: relative;
    min-height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 150px;
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    background-color:  white;
    height: 100px;
    position: fixed;
    width: 1300px;
    opacity: .75;
    outline: 1px solid #D3D3D3;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}

h1 {
    
    position: fixed;
    margin-left:80px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}
h1:hover{
    filter: alpha (opacity=50);
    opacity: .5;
    
}


.nav1 {
    
    position: fixed;
    margin-left:1075px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;
}
.nav1:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}


.nav2 {
    
    position: fixed;
    margin-left:1150px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;
}
.nav2:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
     
}

.container {
    display:flex;
    width: 100%;
    margin-left: 9px;
    margin-top:100px;
}


img {
    width: 96%;
    height: auto;
    outline: 1px solid #D3D3D3;
    flex-grow: 1;
    margin-top: 11px;
}

.column {
    width: 35em;
}

.design {
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}

.design:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}

.progress {
    width: 92%;
    height: auto;
    flex-grow: 1;
    margin-top: 20px;
    transition: .3s;
}

.progress:hover{
    transform: scale(1.02);
}

#container {
    display:flex;
    width: 80%;
    margin-left: 150px;
    margin-top:100px;
}

video {
    margin-top: 100px;
    
}

.footer {
    background-color: white;
    height: 100px;
    position: absolute;
    width: 1300px;
    opacity: .75;
    outline: 1px solid #D3D3D3;
    bottom: 0;
 }

 .copyright {
    margin-left:80px;
    margin-top: 30px;
 }

 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  