html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    
   }


.header {
    background-color: /*rgb(214, 214, 214)*/ white;
    height: 100px;
    position: fixed;
    width: 1300px;
    opacity: .75;
    outline: 1px solid #D3D3D3;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}

h1 {
    
    position: fixed;
    margin-left:80px;
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}
h1:hover{
    filter: alpha (opacity=50);
    opacity: .5;
    
}


.nav1 {
    
    position: fixed;
    margin-left:1075px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;
}
.nav1:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}


.nav2 {
    
    position: fixed;
    margin-left:1150px;
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;
}
.nav2:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}


.container {
    display:flex;
    width: 100%;
    margin-left: 9px;
    margin-top:100px;
}

img {
    width: 96%;
    height: auto;
    outline: 1px solid #D3D3D3;
    flex-grow: 1;
    margin-top: 11px;
}

.column {
    width: 35em;
}

.design {
    filter: none;
    opacity: 100;
    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}

.design:hover{
    filter: alpha (opacity=50);
    opacity: .5;
}