html {
    position: relative;
    min-height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 150px;
    max-width: 100%;
    overflow-x: hidden;
}



a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}




p{
    font-family: 'Montserrat', sans-serif;       
}

.title {  
    margin-left:5vw;
    margin-top: 130px;
    padding-bottom:10px;
    font-family: 'Montserrat', sans-serif;   
}

.projecttitle {
    margin-left: 5vw;
    line-height:1.6;
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    margin-bottom: -100px;
}   




.container {
    display:flex;
    width: 95%;
    justify-content: center;
    margin-top:100px;
    margin-left:5vw;
}


img {
    width: 96%;
    height: auto;
    outline: 1px solid #D3D3D3;
    flex-grow: 1;
    margin-top: 11px;
}

.column {
    width: 35em;
}


.design {
    filter: none;
    opacity: 100;
    flex-grow: 1;
    transition: .3s;

    -webkit-transition: opacity 1s ease out;
    -moz-transition: opacity 1s ease out;
    -ms-transition: opacity 1s ease out;
    -o-transition: opacity 1s ease out;
    transition: opacity 1s ease out;

}

.design:hover{
    filter: alpha (opacity=50);
    opacity: .5;
    transform: scale(1.02);
}

.gridimages{
    flex-grow: 1;
    transition: .3s;
}

.gridimages:hover{
    transform: scale(1.02);
}

.progress {
    width: 92%;
    height: auto;
    flex-grow: 1;
    margin-top: 20px;
    transition: .3s;   
}

.progress:hover{
    transform: scale(1.02);
}

.progress img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.progress img:hover {opacity: 0.7;}

.progresstext {
    width: 92%;
    height: auto;
    line-height: 1.6;  
}


.bottom {
    width: 75vw;
    height: auto;
    flex-grow: 1;
    margin-top: 20px;
    transition: .3s; 
    justify-content: center; 
    align-items: center; 
}

.bottom:hover{
    transform: scale(1.02);
}



.about{
    width: 100%;
}

#container {
    display:flex;
    width: 80%;
    margin-left: 150px;
    margin-top:100px;
}

.demo {
    margin-top: 100px;
    
}

.footer {
    background-color: white;
    height: 100px;
    position: absolute;
    width: 100vw;
    opacity: .75;
    outline: 1px solid #D3D3D3;
    bottom: 0;
 }






 
 
.copyright {
    margin-left:80px;
    margin-top: 30px;
 }

.carouselCover {
    position: absolute;
    width:75vw;
    height: 65vh;
    left: 12.5vw;

    overflow: hidden;
}

#carousel1 {
    position: absolute;
    left: 0;

    display: flex;
    width: fit-content;
}

.carouselElement {     
      width:75vw;
      height: auto;
}

.carouselButtonContainer {
    display: flex;
}

.slideButton {
    position: relative;
    margin-top: 30vh;
    height: 10vh;
    width: 8vw;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
}

.incrementLeft {
    margin-left: 0;
    
}

.incrementRight {
    margin-left: 56vw;
    
}

.video{
    width:1100px;
    height: auto;
    margin-left:80px;
    z-index: 7;
    margin-top: 100px;
    border: 1px solid #D3D3D3;
}

.videotext {
    margin-left:80px;
    width: 500px;
    margin-top: -50px;
    line-height: 1.6;
    border-right: 1px solid #D3D3D3;
}
.videotext2 {
    margin-left:80px;
    width: 500px;
    margin-top: -50px;
    line-height: 1.6;
    
}









  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    
    max-height: 500px;
    
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  










  .main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.main-nav li {
    text-align: left;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 30px;
    
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top:18px;
}

.active {
    display: block;
}

#chkToggle {
    display: none;
}

#chkToggle:checked + ul.main-nav {
    display: block;
}

@media screen and (min-width: 770px) {
    .header {
        background-color:  white;
        height: 100px;
        position: fixed;
        width: 100vw;
        opacity: .75;
        border-bottom: 1px solid #D3D3D3;
        z-index: 5;
    }

    h1 {
        z-index: 6;
        position: fixed;
        margin-left:5vw;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
        filter: none;
        opacity: 100;
        -webkit-transition: opacity 1s ease out;
        -moz-transition: opacity 1s ease out;
        -ms-transition: opacity 1s ease out;
        -o-transition: opacity 1s ease out;
        transition: opacity 1s ease out;
    
    }
    h1:hover{
        filter: alpha (opacity=50);
        opacity: .5;
        
    }
    
    .headernav{
        margin-left: 75vw;
    
    }
    
    .nav1 {
        z-index: 6;
        position: fixed;
        
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;    
        filter: none;
        opacity: 100;
        -webkit-transition: opacity 1s ease out;
        -moz-transition: opacity 1s ease out;
        -ms-transition: opacity 1s ease out;
        -o-transition: opacity 1s ease out;
        transition: opacity 1s ease out;
        
    }
    .nav1:hover{
        filter: alpha (opacity=50);
        opacity: .5;
    }
    
    
    .nav2 {
        z-index: 6;
        position: fixed;
        margin-left:80px;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;    
        filter: none;
        opacity: 100;
        -webkit-transition: opacity 1s ease out;
        -moz-transition: opacity 1s ease out;
        -ms-transition: opacity 1s ease out;
        -o-transition: opacity 1s ease out;
        transition: opacity 1s ease out;
        border-left: 1px solid rgb(211, 211, 211);
        padding-left: 10px;
    }
    .nav2:hover{
        filter: alpha (opacity=50);
        opacity: .5;
    }
    
    .nav3 {
        z-index: 6;
        position: fixed;
        margin-left:180px;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;    
        filter: none;
        opacity: 100;
        -webkit-transition: opacity 1s ease out;
        -moz-transition: opacity 1s ease out;
        -ms-transition: opacity 1s ease out;
        -o-transition: opacity 1s ease out;
        transition: opacity 1s ease out;
        border-left: 1px solid rgb(211, 211, 211);
        padding-left: 10px;
    }
    .nav3:hover{
        filter: alpha (opacity=50);
        opacity: .5;
    }


    .navbar {
        display: flex; 
    }

    #chkToggle:checked + ul.main-nav {
        display: flex;
    }




    * {
        
        padding: 0;
        margin: 0;
    }

    .main-nav {
        display: flex;
        
        flex-direction: row;
        justify-content: flex-end;
    }

    main-nav li {
        
    }

    .nav-links {
       
    }

    .logo {
        
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: black;
    }
}