@media screen and (max-width: 770px) {



    
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 0 10vh;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom:18vh;
    background-color: #f7f1ea;
}

.footer {
    position:absolute;
    bottom:0;
    height:15vh;
    width: 100%;
    background-color: #f7f1ea;
    outline: 3px solid rgb(225, 225, 225);
    
}

.footertext{
    color: rgb(160, 160, 160)  ;
    text-align: center;
    line-height:1.6;
    font-family: 'Montserrat', sans-serif; 
}



a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: black;
}

.about {
    width: 100%;
    margin-top:0px;
}

.about-text{
    line-height: 1.6;
    font-size: 16pt;
    text-align: center;
}

.about-text-small{
    line-height: 1.6;
    font-size: 10pt;
    text-align: center;
}

.about-text-div{
    margin-left:35vw;
    width: 40vw;
    margin-top: -90vh;
    height: 10vh;
    
}

.anonymous{
    outline-color:#a67c4c;
    background-color:#a67c4c;
}

.back{
    color: black;
    filter: none;
    opacity: 50;
    flex-grow: 1;
    transition: .5s;

    -webkit-transition: background-color outline 1s ease out;
    -moz-transition: background-color outline 1s ease out;
    -ms-transition: background-color outline 1s ease out;
    -o-transition: background-color outline 1s ease out;
    transition: background-color outline 1s ease out;
    transform-origin: top left;

    
    
}


.back:hover{
    color: #FFA438;
    transform: scale(1.2);
}



.brew {
    outline-color:#D7B4B3;
    background-color:#D7B4B3;
}

.column {
    width:100vw;
}

.container {
    display:flex;
    width: 95%;
    justify-content: center; 
    margin-left:3vw;
}

#container {
    display:flex;
    width: 90%;
    justify-content: center;
}

.copyright {
    margin-right:80vw;
    margin-top:-4vh;
    line-height: 1.6;
    width:35vw;
    font-size: 8pt;
    
 }

.design {
    flex-grow: 1;
    transition: .3s;
    transform: translateX(1.1%)
}

.design:hover{
    transform: scale(1.02) translateX(1.2%) ;
} 






.wrap{
    overflow: hidden;
    position: relative;
  }
  
.hover div{
    -webkit-transition: all 0.4s; 
    -moz-transition: all 0.4s; 
    transition: all 0.4s;
  }
  
.hover{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
  }
  
.pop-up-box{
    width: 96.2%;
    height: 60px;
    position: absolute;
    bottom: -100%;
    opacity: .9;
    
  }
  
.hover:hover .pop-up-box{
     bottom: 0%;  
  }

p.grid-project-title{
    
    transform: translateY(20%);
    text-align: center;
  }
  
 
 

















.hbo-motion {
    outline-color:#a6342b;
    background-color:#a6342b;
}

.holidays{
    outline-color:#a5d9c8;
    background-color:#a5d9c8;
}

img {
    width: 96%;
    height: auto;
    outline: 1px solid #D3D3D3;
    flex-grow: 1;
    margin-top: 11px;
    
}

.ka {
    outline-color:#8e939e;
    background-color:#8e939e;
    
}

.lotus{
    outline-color:#4eb8c7;
    background-color:#4eb8c7;
    
}

.name {
    
    outline: 1px solid  #FFA438;
    background-color: none;
    filter: none;
    opacity: 50;
    flex-grow: 1;
    transition: .5s;

    -webkit-transition: background-color outline 1s ease out;
    -moz-transition: background-color outline 1s ease out;
    -ms-transition: background-color outline 1s ease out;
    -o-transition: background-color outline 1s ease out;
    transition: background-color outline 1s ease out;
    transform-origin: top left;
    
}


.name:hover{
    outline: 1px solid whitesmoke;
    background-color: white;
    transform: scale(3);
}




p{
    font-family: 'Montserrat', sans-serif;       
}

.projecttitle {
    margin-left: 10vw;
    line-height:1.6;
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
  
} 

.title {  
    margin-left:5vw;
    margin-top:5vh;
    padding-bottom:5px;
    font-family: 'Montserrat', sans-serif;   
}



.row {
    display:flex;
    flex-direction: column;
}

.scroll-full-screen {
    height:50%;
    width: 100vw;
    margin-top: 0;
    
}
.scroll-banner {
    height:50%;
    width: 100vw;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
}

.scroll-horizontal {
    height: auto;
    width: 100vw;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    
}

.scroll-square {
    height:auto;
    width: 50vw;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    
}

.scroll-vertical {
    height:auto;
    width: 100vw;
    margin-top: 0vh;
    margin-left: 0vw;
    margin-right: 0vw;
    
}

.sidekick{
    outline-color:#FFA438;
    background-color: #FFA438; 
}

video{
    outline: 1px solid #D3D3D3;
}

.vhs {
    outline-color: #fff291;
    background-color: #fff291;
}

.wig{
    outline-color: #bd94eb;
    background-color: #bd94eb;
}

.wordmark{
    width: 100px;
    margin-left: 15px;
    top: 10px;
    position: fixed;
    z-index: 1;
}

}