body{
    font-family: 'Montserrat', sans-serif; 
    color: #40371a;
    /*
    margin: 0;
    overflow-x: hidden;
    background-color: #f7f1ea;*/
} 

a {
    text-decoration: none;
    color: #D17D00;
}

.images {
    display: flex;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 20px 20px;
    margin: 10px;
    justify-content: center;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    flex-grow: 2;
    max-width: 300px;
    text-align: center;
    border-radius: 2%;
    overflow: hidden;
}

.cardtext {
    padding-bottom: 4%;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.heading {
    flex: 33.33%;
}

.headerimage {
    max-width: 100%;
    position: absolute;
}

.headercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:auto;
    overflow: hidden;
}

.headertext{
    margin: 100px 12px;
    z-index:1;
    max-width: 900px;
    text-align: center;
    font-size: 28px;
    font-weight:bold;
    color: white;
}

.H2{
    background-color: #40371a;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.h2 { 
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;

}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: white;

    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navetitle{
    max-width: 33.33%;
    margin: auto;
    border-radius: 2%;
    padding: 2%;
    flex-grow: 2;
    max-width: 300px;
    text-align: center;
}



.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.logo {
    max-width: 33.33%;
    margin: auto;
    border-radius: 2%;
    padding: 2%;
    flex-grow: 2;
    max-width: 300px;
    text-align: center;
}